@import 'tailwindcss';
@layer base {
  :root {
    /* font-family: 'Manrope Variable', sans-serif; */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
[data-theme='light'] {
  --color-primary: oklch(100% 0 0);
  --color-sec: oklch(0.31 0.1637 263.98);
  --color-sec-mute: oklch(0.33 0.1637 263.98);
  --color-acc: oklch(0.74 0.1373 42.52);

  --color-body-el: oklch(100% 0 0);
  --color-brdr: oklch(0.708 0 0);
  --color-font: oklch(0.27 0.0055 286.03);
  --color-font2: oklch(100% 0 0);

  --color-danger: oklch(0.737 0.237 25.331);
  --color-warning: oklch(75.22% 0.1235 62.47);
  --color-success: oklch(68.1% 0.1708 151.16);
}
[data-theme='dark'] {
  --color-primary: oklch(23.93% 0 0);
  --color-sec: oklch(0.205 0 0);
  --color-sec-mute: oklch(0.22 0 0);
  --color-acc: oklch(0.74 0.1373 42.52);

  --color-body-el: oklch(0.27 0.0055 286.03);
  --color-brdr: oklch(0.439 0 0);
  --color-font: oklch(0.708 0 0);
  --color-font2: oklch(0.808 0 0);

  --color-danger: oklch(0.637 0.237 25.331);
  --color-warning: oklch(75.22% 0.1235 62.47);
  --color-success: oklch(68.1% 0.1708 151.16);
}

@theme {
  /* --font-sans: 'Manrope Variable', sans-serif; */
  --default-font-family: 'Cormorant Variable', sans;
  --text-mini: 0.725rem;
  --text-tiny: 0.625rem;

  --color-primary: var(--color-primary);
  --color-sec: var(--color-sec);
  --color-sec-mute: var(--color-sec-mute);
  --color-acc: var(--color-acc);
  --color-ter: var(--color-ter);

  --color-nav: var(--color-navigation);
  --color-brdr: var(--color-brdr);
  --color-fg: var(--color-font);
  --color-fg2: var(--color-font2);

  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-warn: var(--color-warning);
}
.router-link-active {
  @apply text-acc;
}
.router-link-exact-active {
  @apply text-acc;
}

@keyframes rotate-cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-ccw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#bottom-wheel {
  animation: rotate-cw 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#middle-wheel {
  animation: rotate-ccw 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#top-wheel {
  animation: rotate-cw 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@layer components {
  .input {
    @apply block w-full rounded-md bg-primary dark:bg-sec-mute px-3.5 py-2 text-base outline-1 -outline-offset-1 outline-brdr placeholder:text-fg/70 text-fg focus:outline-2 focus:-outline-offset-2 focus:outline-acc;
  }
}
@layer components {
  .btn {
    @apply rounded-md bg-acc px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-acc/90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-acc;
  }
}
